src/conf/xml-resources/web-service-references/MyBankserv/wsdl/localhost_8080/Banque-WebService/MyBankserv.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serv/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serv/" name="MyBankserv">
<types>
<xsd:schema>
<xsd:import namespace="http://serv/" schemaLocation="http://localhost:8080/Banque-WebService/MyBankserv?xsd=1"/>
</xsd:schema>
</types>
<message name="verifSolde">
<part name="parameters" element="tns:verifSolde"/>
</message>
<message name="verifSoldeResponse">
<part name="parameters" element="tns:verifSoldeResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="valideCarte">
<part name="parameters" element="tns:valideCarte"/>
</message>
<message name="valideCarteResponse">
<part name="parameters" element="tns:valideCarteResponse"/>
</message>
<portType name="MyBankserv">
<operation name="verifSolde">
<input wsam:Action="http://serv/MyBankserv/verifSoldeRequest" message="tns:verifSolde"/>
<output wsam:Action="http://serv/MyBankserv/verifSoldeResponse" message="tns:verifSoldeResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://serv/MyBankserv/verifSolde/Fault/Exception"/>
</operation>
<operation name="valideCarte">
<input wsam:Action="http://serv/MyBankserv/valideCarteRequest" message="tns:valideCarte"/>
<output wsam:Action="http://serv/MyBankserv/valideCarteResponse" message="tns:valideCarteResponse"/>
</operation>
</portType>
<binding name="MyBankservPortBinding" type="tns:MyBankserv">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verifSolde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="valideCarte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MyBankserv">
<port name="MyBankservPort" binding="tns:MyBankservPortBinding">
<soap:address location="http://localhost:8080/Banque-WebService/MyBankserv"/>
</port>
</service>
</definitions>